body {
    background-color: rgb(0, 0, 140);
}

#carousel {
    border-radius: 20px;
    overflow: hidden;

}




section:first-child {
    padding: 0;
}


.subtitle {
    font-size: 1em;
    color: rgb(86, 86, 86);
}

.productsgrid {
    margin-top: 25px;
    display: grid;
    /* This creates 4 equal columns */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* This adds space between items */
    gap: 20px;
    margin: 25px auto 10px auto;
    width: 100%;
    justify-items: center;
}


.smallproductcard {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1em;
    text-overflow: ellipsis;
    width: 150px;
}

.categoriesgrid {
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin: 25px auto 0 auto;
    width: 100%;
    justify-items: center;
}

.categorycard {
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}
.categoryimg {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallproductcard p {
    margin-bottom: 0px;
}

.smallproductcard a {
    font-weight: 600;
    color:rgb(62, 62, 62);
    text-decoration: none;
}
.smallproductcard a:hover {
    font-weight: 600;
    color:rgb(23, 23, 23);
    text-decoration: none;
}

.vendor {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    margin-right: 1px;
}

.pricetag {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}

