#carousel {
  border-radius: 20px;
  overflow: hidden;
}

section:first-child {
  padding: 0;
}

.smallproductcard {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1em;
  text-overflow: ellipsis;
  width: 150px;
  color: black;
  text-decoration: none;
}

.categoriesgrid {
  margin: 25px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.categorycard {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

@media screen and (max-width: 805px) {
  .categorycard {
    width: 100px;
    height: 180px;
  }
  .categoriesgrid {
    margin: 25px 0px;
    gap: 1.5rem;
    font-size: 0.8em;
  }   
}

.categorycard:hover {
  transition: 0.5s;
  transform: translateY(-5px);
}

.categoryimg {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryimg img {
  max-width: 100%;
  height: auto;
}

.smallproductcard p {
  margin-bottom: 0px;
}

.smallproductcard a {
  font-weight: 600;
  color: rgb(62, 62, 62);
  text-decoration: none;
}
.smallproductcard a:hover {
  font-weight: 600;
  color: rgb(23, 23, 23);
  text-decoration: none;
}

.pricetag {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}

@media screen and (max-width: 805px) {
  .smallproductcard {
    width: 100px;
  }
}
