body {
    background-color: rgb(0, 0, 140);
}

section {
    width: 80%;
    margin-top: 20px !important;
    border: 1px solid rgb(200, 200, 200);
    margin: auto;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#carousel {
    border-radius: 20px;
    overflow: hidden;

}

.products {
    width: 80%;
    margin-top: 20px !important;
    border: 1px solid rgb(200, 200, 200);
    margin: auto;
    border-radius: 25px;
    padding: 1.2em 1.4em 1.2em 1.4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h4 {
    font-size: 1.5em !important;
    font-weight: bold !important;
    margin: 0px 0px 0px 0px !important;
}

.subtitle {
    font-size: 1em;
    color: rgb(86, 86, 86);
}

.productsgrid {
    margin-top: 25px;
    display: grid;
    /* This creates 4 equal columns */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* This adds space between items */
    gap: 20px;
    margin: 25px auto 0 auto;
    width: 100%;
    justify-items: center;
}

.smallproductcard {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1em;
    text-overflow: ellipsis;
    width: 150px;
}

.smallproductcard p {
    margin-bottom: 0px;
}

.smallproductcard a {
    font-weight: 600;
    color:rgb(62, 62, 62);
    text-decoration: none;
}
.smallproductcard a:hover {
    font-weight: 600;
    color:rgb(23, 23, 23);
    text-decoration: none;
}

.vendor {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    margin-right: 1px;
}

.pricetag {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}

footer {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 30%;
    color: rgb(78, 78, 78);
    font-size: smaller;
}
hr {
    width: 80%;
    margin: auto !important;
}

.estrella {
    color: #ffc107;
}

