main{
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0.4em;
    padding: 1em 1em 1em 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1.5em;
}
#register{
    color: rgb(56, 55, 55);
}

form{
    width: 90%;
    margin: auto;
}

label{
    margin-bottom: 0.3em;
}
h1{
    width: 90%;
    margin: auto;
    margin-bottom: 0.4em;
    font-size: 26pt;
}
body{
    background-color: #70A89E;
}
#register{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


