main{
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 2em;
    border: 0.4em;
    padding: 1em 5em 1em 5em;
}
#login{
    color: rgb(56, 55, 55);
    border-radius: 5em;
}

form{
    margin: auto;
}

label{
    margin-bottom: 0.5em;
}

.form-group{
    width: 50%;
    margin : auto;
}

body{
    background-color: darkcyan;
}


