.imagen {
  padding: 1.2em 1.4em 1.2em 1.4em;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  margin: auto;
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.content {
  padding: 1.2em 1.4em 1.2em 1.4em;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#price {
  font-size: 38px;
}

.user {
  padding: 1.2em 1.4em 1.2em 1.4em;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile {
  display: grid;
  grid-template-columns: 5em 9em;
  grid-template-rows: 3em 2.5em;
}
.a {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
.b {
  grid-column-start: 2;
  grid-row-start: 1;
}
.c {
  grid-column-start: 2;
  grid-row-start: 2;
}

#user {
  font-size: 20pt;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  width: 100%;
  margin: auto;
  padding-left: 0%;
  gap: 10px;
}

.item {
  min-height: 30px;
  min-width: 30px;
  border: 1px solid rgb(200, 200, 200);
  text-align: center;
  background-color: rgba(237, 233, 233, 0.844);
  border-radius: 25px;
  padding: 0.5em 0.8em 0.5em 0.8em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.description {
  padding: 1.2em 1.4em 1.2em 1.4em;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#measures {
  width: 30%;
  border-collapse: collapse;
}
#measures td {
  padding: 0.5em;
}
.ubication {
  padding: 1.2em 1.4em 1.2em 1.4em;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.reviews {
  width: 100%;
  margin-top: 20px !important;
  border: 1px solid rgb(200, 200, 200);
  margin: auto;
  border-radius: 25px;
  padding: 1.2em 1.4em 1.2em 1.4em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
