header {
    display: flex;
    position: sticky;
    top: 10px;
    z-index: 20;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 20px 25px;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 26px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
h4 {
    font-size: 1.5em !important;
    font-weight: bold !important;
    margin: 0px 0px 0px 0px !important;
}

nav {
    padding-bottom: 0px;
    display: flex;
    gap: 4px;
}

nav a {
    color: rgb(62, 62, 62);
    text-decoration: none;
}

main {
    margin-top: 20px;
    margin-bottom: 40px;
}

.botonsesion {
    background-color: darkcyan;
    color: white;
    padding: 10px 12px 10px 12px;
    border-radius: 15px;
    font-size: medium;
}

.form-inline {
    display: flex;
    gap: 4px;
}

section {
    width: 80%;
    margin-top: 20px !important;
    border: 1px solid rgb(200, 200, 200);
    margin: auto;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

footer {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 30%;
    color: rgb(78, 78, 78);
    font-size: smaller;
}
hr {
    width: 80%;
    margin: auto !important;
}

.estrella {
    color: #ffc107;
}