:root {
  --bs-primary: #008b8b;
  --bs-primary-rgb: 0, 139, 139;
  --bs-font-sans-serif: "Poppins", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  display: flex;
  position: sticky;
  top: 20px;
  z-index: 20;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 25px 20px 25px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 26px;
  gap: 2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
h4 {
  font-size: 1.5em !important;
  font-weight: bold !important;
  margin: 0px 0px 0px 0px !important;
}

h2 {
  font-size: 2em !important;
  font-weight: bold !important;
}

nav {
  padding-bottom: 0px;
  display: flex;
  gap: 20px;
  flex: 1;
  align-items: center;
}

nav a {
  color: rgb(62, 62, 62);
  text-decoration: none;
}

main {
  margin-top: 20px;
  margin-bottom: 40px;
}

.button {
  background-color: darkcyan;
  color: white;
  padding: 10px 12px 10px 12px;
  border-radius: 15px;
  text-decoration: none;
  font-size: medium;
  white-space: nowrap;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form-inline {
  display: flex;
  gap: 4px;
  flex: 1;
}

section {
  margin-top: 20px !important;
  border: 1px solid rgb(200, 200, 200);
  margin: auto;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1.4em 1.6em;
}

footer {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 30%;
  color: rgb(78, 78, 78);
  font-size: smaller;
}
hr {
  width: 80%;
  margin: auto !important;
}

.estrella {
  color: #ffc107;
}

.searchbar {
  border-radius: 15px !important;
}

h4 {
  font-size: 1.5em !important;
  font-weight: bold !important;
  margin: 0px 0px 0px 0px !important;
}

.subtitle {
  font-size: 1em;
  color: rgb(86, 86, 86);
}

main {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  flex: 1;
}

.form-control {
  border-radius: 15px !important;
  padding: 0.7rem 1rem;
}

.form-select {
  border-radius: 15px !important;
  padding: 0.7rem 1rem;
}

.productslist {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px auto 10px auto;
  width: 100%;
  justify-content: center;
}

.vendor {
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
  margin-right: 1px;
  color: rgb(83, 83, 83);
  flex-wrap: wrap;
}

.menubutton {
  font-size: 1.5rem;
}

.secondarybutton {
  background-color: white;
  color: rgb(63, 63, 63);
  border: 1px solid rgb(200, 200, 200);
}

a[aria-expanded="true"] .bi-chevron-right {
  display: none;
}
a[aria-expanded="false"] .bi-chevron-down {
  display: none;
}

.collapsebutton {
  cursor: pointer;
}

button {
  border: none;
}