.alternativeheader {
    width: 100%;
    margin-top: 0;
    top: 0px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    box-shadow: none;
    position: relative;
}

.productinfo {
    position: sticky;
    top: 40px;
}