.container{
    width: 80%;
    margin-top: 20px !important;
    margin: auto;
    padding: 1.2em 1.4em 1.2em 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    
}