.profile{
    width: 80%;
    margin-top: 20px !important;
    border: 1px solid rgb(200, 200, 200);
    margin: auto;
    border-radius: 25px;
    padding: 1.2em 1.4em 1.2em 1.4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grid{
    display:grid;
    grid-template-columns: 10em 20em 15em;
    grid-template-rows: 2em 2em;
}
.a{
    grid-column-start:1;
    grid-row-start:1;
    grid-row-end: 2;
}
.b{
    grid-column-start:2;
    grid-row-start:1;
}
.c{
    grid-column-start:2;
    grid-row-start:2;
}
.d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start:3;
    grid-row-start:1;
}
.e{
    display: flex;
    justify-content:left;
    align-items: center;
    grid-column-start:3;
    grid-row-start:2;
}

#user{
    font-size: 20pt;
}
#location{
    margin:0;
}
.products {
    width: 80%;
    margin-top: 20px !important;
    border: 1px solid rgb(200, 200, 200);
    margin: auto;
    border-radius: 25px;
    padding: 1.2em 1.4em 1.2em 1.4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.productsgrid {
    margin-top: 25px;
    display: grid;
    /* This creates 4 equal columns */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* This adds space between items */
    gap: 20px;
    margin: 25px auto 0 auto;
    width: 100%;
    justify-items: center;
}

.smallproductcard {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1em;
    text-overflow: ellipsis;
    width: 150px;
}

.smallproductcard p {
    margin-bottom: 0px;
}

.smallproductcard a {
    font-weight: 600;
    color:rgb(62, 62, 62);
    text-decoration: none;
}
.smallproductcard a:hover {
    font-weight: 600;
    color:rgb(23, 23, 23);
    text-decoration: none;
}
.pricetag {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}

.reviews{
    display:flex;
    flex-wrap:nowrap;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 80%;
    margin-top: 20px !important;
    border: 1px solid rgb(200, 200, 200);
    margin: auto;
    border-radius: 25px;
    padding: 1.2em 1.4em 1.2em 1.4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grid2{
    column-gap:1em;
    display:grid;
    grid-template-columns: 5em 10em 30em;
    grid-template-rows: 2em 2em 5em;
}
.A{
    grid-column-start: 1;
    grid-row-start:1;
    grid-row-end: 2;
}
.B{
    grid-column-start: 2;
    grid-row-start:1;
    font-weight: bold;
}
.C{
    grid-column-start: 2;
    grid-row-start:2;
}
.D{
    grid-column-start:3;
    grid-row-start:1;
}
.E{
    grid-column-start:3;
    grid-row-start:2;
}
.F{
    grid-column-start:3;
    grid-row-start:3;
    font-weight:bold;
}
a{
    text-decoration:none;
    color:black;
}

.create-review{
    display: block;
    text-align: center;
    margin: 8px auto 16px auto;
    color: inherit;
}

.product-footer{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}
.product-footer p{
    margin: 0;
}
.create-review-right{
    margin-left: auto;
    color: inherit;
    text-decoration: none;
}