{{>header}}
    <main>
      <section id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>
          <button
            type="button"
            data-bs-target="#carousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/slidecompra.svg"
              class="d-block w-100"
              alt="First Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h5>La mejor selección de productos de segunda mano</h5>
            </div>
          </div>

          <div class="carousel-item">
            <img
              src="/images/slideenvio.svg"
              class="d-block w-100"
              alt="Second Slide" />
            <div class="carousel-caption d-none d-md-block">
              <h5>Para compras mayores de 30 euros</h5>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </section>
      <section class="products">
        <div>
          <h4>Productos recomendados</h4>
          <p class="subtitle">
            Selección de productos que creemos que te gustarán
          </p>
        </div>
        <div class="productslist">
          {{#products}}
          <a class="smallproductcard" href="product">
            <img src="/images/placeholder100x100.png" />
            <p class="pricetag">{{price}}€</p>
            <p>{{name}}</p>
            <div class="vendor">
              <span>usuario1</span>
              <div>
                <i class="bi bi-star-fill star"></i>
                <i class="bi bi-star-fill star"></i>
                <i class="bi bi-star-fill star"></i>
                <i class="bi bi-star-fill star"></i>
                <i class="bi bi-star star"></i>
              </div>
            </div>
          </a>
          {{/products}}
        </div>
      </section>
      <section class="categories">
        <div>
          <h4>Categorías más buscadas</h4>
          <p class="subtitle">
            Categorías que le interesan a nuestros usuarios
          </p>
        </div>
        <div class="categoriesgrid">
          {{#categories}}
            <a class="categorycard" href="search?search=&category={{slug}}">
              <div class="categoryimg">
                <img width="{{imgWidth}}px" src="{{imageUrl}}" />
              </div>
              <p>{{name}}</p>
            </a>
          {{/categories}}
        </div>
      </section>
    </main>
{{>footer}}
