{{> head}}
<body>
    <!-- {{#error}}
    <div class="position-absolute me-3  bottom-0 end-0 alert alert-danger alert-dismissible fade show" role="alert">
        Correo o contraseña no válidos. Revisa tus datos.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/error}} -->
    <main class="border">
        <h1 id="title">
            Inicia sesión
        </h1>
        <div id="login">
                <form role ="form" action="/login" method="post">
                <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}">
                <div class="form-group">
                        <label for ="inputEmail">Email</label>
                        <input type="email" id="inputEmail" name="inputEmail" placeholder="Email" class="form-control" required><br>
                </div>
                <div class="form-group">
                        <label for ="inputPassword">Contraseña</label>
                        <input type="password" id="inputPassword" name="inputPassword" placeholder="Contraseña" class="form-control" required><br>
                </div>
                <div id="regist">
                    <button type="submit" class="btn btn-primary" id="submitBtn">Iniciar Sesión</button>
                    <p id="registro">
                        ¿Aún no tienes cuenta?
                        <a href="register">Regístrate</a>
                    </p>
                </div>
            </form>
        </div>
    </main>
    {{> footer}}
