{{>header}}
<main>
  <div class="title">
    <h2>Modifica tus datos</h2>
  </div>
  <div class="category">
    <form role="form" action="/modify_info" method="post" enctype="multipart/form-data">
      <div class="d-flex gap-5 flex-wrap justify-content-between ms-sm-2">
        <div class="m-auto position-relative">
          <img
            class="rounded-circle"
            src="/images/{{imageUrl}}"
            width="150px"
            alt="Usuario"
          />
          <button
            type="button"
            class="btn btn-sm btn-secondary text position-absolute bottom-0 end-0 rounded-circle p-2"
            style="width: 40px; height: 40px"
            onclick="document.getElementById('userImage').click()"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
          <input
            type="file"
            class="form-control mt-2"
            id="userImage"
            name="image"
            style="display: none"
          />
        </div>
        <div class="flex-grow-1">
          <div class="mb-3">
            <input type="hidden" id="id" name="id" value="{{id}}" />
            <label for="name" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="{{product.user.name}}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Apellidos</label>
            <input
              type="text"
              class="form-control"
              id="surname"
              name="surnames"
              value="{{product.user.surnames}}"
              required
            />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          value="{{product.user.email}}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          value="{{product.user.password}}"
          required
        />
      </div>
      <button class="button" type="submit">Modificar</button>
    </form>
  </div>
</main>
{{>footer}}
