{{>header}}
        <div class ="title">
            <h2>Modifica tu anuncio</h2>
        </div>
        <div class="category">
            <h4>Selecciona una categoría</h4>
            <div class="categoriesgrid">
                <div class="element">
                    <button class="btn button-main active">
                        <img width="135px" src="/images/ropa.png" />
                        <p class="fw-medium">Ropa</p>
                    </button>
                </div>
                <div class="element">
                    <button class="btn button-main">
                        <img width="173px" src="/images/car.png" />
                        <p class="fw-medium">Automóviles</p>
                    </button>
                </div>
                <div class="element">
                    <button class="btn button-main">
                        <img width="100px" src="/images/computers.png" />
                        <p class="fw-medium">Informática</p>
                    </button>
                </div>
                <div class="element">
                    <button class="btn button-main">
                        <img width="100px" src="/images/books.png" />
                        <p class="fw-medium">Libros</p>
                    </button>
                </div>
                <div class="element">
                    <button class="btn button-main">
                        <img width="100px" src="/images/electrodomesticos.png" />
                        <p class="fw-medium">Electrodomésticos</p>
                    </button>
                </div>
            </div>

        </div>
            
        <div class="category">
                <h4>Información del producto</h4>
                <form action="/modify_product" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="hidden" name="id" value="{{product.id}}" />
                        <label for="productName" class="form-label">Nombre del producto</label> 
                        <input type="text" class="form-control" name="name" id="productName" placeholder="Introduce el nombre del producto" value="{{product.name}}" required> 
                    </div> 
                    <div class="mb-3"> 
                        <label for="productDescription" class="form-label">Descripción</label> 
                        <textarea class="form-control" name="description" id="productDescription" rows="3" placeholder="Describe tu producto" required>{{product.description}}</textarea> 
                    </div> 
                    <div class="mb-3"> 
                        <label for="productPrice" class="form-label">Precio (€)</label> 
                        <input type="number" name="price" class="form-control" id="productPrice" placeholder="Introduce el precio" value="{{product.price}}" required> 
                    </div> 
                    <div class="mb-3"> 
                        <label for="productImage" class="form-label">Imagen del producto</label> 
                        <input class="form-control" name="image" type="file" id="productImage"> 
                    </div> 
                    <br>
                    <button class="button" type="submit">Publicar</button>
                </form>
        </div>

    
        {{>select_button}}
{{>footer}}
