{{>header}}

    <section class="profile">
      <div class="container gap-3">
        <div class="row">
          <div class="col-12">
            <div class="container py-2">
              <div
                class="d-flex flex-column flex-md-row align-items-md-center gap-3"
              >
                <a href="/user_profile/{{id}}">
                  <img
                    class="rounded-circle"
                    src="/images/{{imageUrl}}"
                    width="60px"
                    alt="Usuario"
                  />
                </a>
                <div class="flex-grow-1">
                  <div
                    class="d-flex flex-column flex-md-row align-items-md-center gap-2"
                  >
                    <span class="me-5">
                      <p id="user"><strong>{{name}} {{surnames}}</strong></p>
                    </span>
                    <span class="me-2">
                      <p><strong>{{sold}}</strong> Ventas</p>
                    </span>
                    <span>
                      <p><strong>{{bought}}</strong> Compras</p>
                    </span>
                  </div>
                  <div class="flex-grow-1 gap-2 d-flex flex-wrap">
                    <span class="me-4">
                      <i class="bi bi-star{{#avgStar1}}-fill{{/avgStar1}}{{^avgStar1}}{{/avgStar1}} star"></i>
                      <i class="bi bi-star{{#avgStar2}}-fill{{/avgStar2}}{{^avgStar2}}{{/avgStar2}} star"></i>
                      <i class="bi bi-star{{#avgStar3}}-fill{{/avgStar3}}{{^avgStar3}}{{/avgStar3}} star"></i>
                      <i class="bi bi-star{{#avgStar4}}-fill{{/avgStar4}}{{^avgStar4}}{{/avgStar4}} star"></i>
                      <i class="bi bi-star{{#avgStar5}}-fill{{/avgStar5}}{{^avgStar5}}{{/avgStar5}} star"></i>
                    </span>
                    <div>
                      <span>
                        <i class="bi bi-geo-alt"></i>
                      </span>
                      <span> {{location}} </span>
                    </div>
                    <div class="ms-5">
                      {{#isUser}}
                          <a class="nav-link button w-100 secondarybutton" href="/modify_user/{{id}}">Modificar</a>
                      {{/isUser}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="products" id="products">
      <div>
        <h4>Productos en venta</h4>
      </div>
      {{#emptyProducts}}
            <div class="row justify-content-center mt-3">
              <div class="col-12 text-center">
                <p class="text-muted ">No tiene productos en venta</p>
              </div>
            </div>
      {{/emptyProducts}}
      {{^emptyProducts}}
      <div class="productsgrid">
        {{#products}}
        <div class="smallproductcard">
          <a href="/product/{{id}}">
            <img width="150px" src="/images/{{#image}}{{id}}{{/image}}" />
            <p class="pricetag">{{price}}€</p>
          </a>
          <div class="product-footer">
            <p>{{name}}</p>
            {{#isUser}}
            <a
              class="create-review-right"
              href="/modify_product/{{id}}"
              aria-label="Modificar producto"
              ><i class="bi bi-pencil-square"></i
            ></a>
            {{/isUser}}
          </div>
        </div>
        {{/products}}
       </div>
       {{#showPaginationProduct}}
            <nav aria-label="Navegación de páginas" class="d-flex justify-content-end">
                <ul class="pagination mt-4">
                <li class="page-item {{^hasPrevProduct}}disabled{{/hasPrevProduct}}">
                    <a class="page-link" href="/user_profile/{{id}}?pageProduct={{prevPageProduct}}&pageOrder={{currentPageOrderZero}}&pageReview={{currentPageReviewZero}}#products" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <span class="page-link">{{currentPageProduct}} / {{totalPagesProduct}}</span>
                </li>
                <li class="page-item {{^hasNextProduct}}disabled{{/hasNextProduct}}">
                    <a class="page-link" href="/user_profile/{{id}}?pageProduct={{nextPageProduct}}&pageOrder={{currentPageOrderZero}}&pageReview={{currentPageReviewZero}}#products" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>
          {{/showPaginationProduct}}
      {{/emptyProducts}}
      </section>

    <section class="products" id="orders">
      <div>
        <h4>Productos comprados</h4>
      </div>
      {{#emptyOrders}}
            <div class="row justify-content-center mt-3">
              <div class="col-12 text-center">
                <p class="text-muted text-center">No se ha realizado ninguna compra</p>
              </div>
            </div>  
      {{/emptyOrders}}
      {{^emptyOrders}}
      <div class="productsgrid">

        {{#orders}}
        <div class="smallproductcard">
          <a href="/product/{{#product}}{{id}}{{/product}}">
            <img width="150px" src="/images/{{#product}}{{#image}}{{id}}{{/image}}{{/product}}" />
            <p class="pricetag">{{#product}}{{price}}{{/product}}€</p>
          </a>
          <div class="product-footer">
            <p>{{#product}}{{name}}{{/product}}</p>
            {{#isUser}}
            <a
              class="create-review-right"
              href="/create_review/{{#product}}{{id}}{{/product}}"
              aria-label="Crear reseña"
              ><i class="bi bi-star"></i
            ></a>
            {{/isUser}}
          </div>
        </div>
        {{/orders}}
      </div>
      {{#showPaginationOrder}}
            <nav aria-label="Navegación de páginas" class="d-flex justify-content-end">
                <ul class="pagination mt-4">
                <li class="page-item {{^hasPrevOrder}}disabled{{/hasPrevOrder}}">
                    <a class="page-link" href="/user_profile/{{id}}?pageOrder={{prevPageOrder}}&pageProduct={{currentPageProductZero}}&pageReview={{currentPageReviewZero}}#orders" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <span class="page-link">{{currentPageOrder}} / {{totalPagesOrder}}</span>
                </li>
                <li class="page-item {{^hasNextOrder}}disabled{{/hasNextOrder}}">
                    <a class="page-link" href="/user_profile/{{id}}?pageOrder={{nextPageOrder}}&pageProduct={{currentPageProductZero}}&pageReview={{currentPageReviewZero}}#orders" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>
            {{/showPaginationOrder}}
      {{/emptyOrders}}
    </section>

    <div class="reviews" id="reviews">
      <div class=" gap-3">
        <div class="row">
          <div class="col-12">
            <h3>
              <i class="bi bi-star-fill star"></i>
              <strong>{{average}} {{name}} {{surnames}} valoraciones</strong>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4>Reseñas</h4> 
            <br />
          </div>
        </div>
        {{#emptyReviews}}
        <div class="row justify-content-center">
            <div class="col-12 text-center">
              <p class="text-muted">No hay reseñas para este usuario</p>
            </div>
        </div>
        {{/emptyReviews}}
        {{^emptyReviews}}
        {{#reviewsVm}}
        <div class="row">
          <div class="col-12">
            <div class="container py-2">
              <div
                class="d-flex flex-column flex-md-row align-items-start gap-3"
              >
                {{#review}}
                <a href="/user_profile/{{#user}}{{id}}{{/user}}">
                  <img
                    class="rounded-circle"
                    src="/images/{{#user}}{{#image}}{{id}}{{/image}}{{/user}}"
                    width="60px"
                    alt="Usuario"
                  />
                </a>
                <div class="flex-grow-1">
                  <div
                    class="d-flex flex-column flex-md-row align-items-md-center gap-2"
                  >
                    <span class="fw-semibold">{{#user}}{{name}}{{/user}}</span>
                    <span>
                      <i class="bi bi-star{{#star1}}-fill{{/star1}}{{^star1}}{{/star1}} star"></i>
                      <i class="bi bi-star{{#star2}}-fill{{/star2}}{{^star2}}{{/star2}} star"></i>
                      <i class="bi bi-star{{#star3}}-fill{{/star3}}{{^star3}}{{/star3}} star"></i>
                      <i class="bi bi-star{{#star4}}-fill{{/star4}}{{^star4}}{{/star4}} star"></i>
                      <i class="bi bi-star{{#star5}}-fill{{/star5}}{{^star5}}{{/star5}} star"></i>
                    </span>
                    <span class="text-muted small ms-md-3">{{date}}</span>
                {{/review}}
                    {{#isUserReview}}
                    <a href="/modify_review/{{#review}}{{id}}{{/review}}" class="button ms-4">Modificar reseña</a>
                    {{/isUserReview}}
                  </div>
                  <p class="mb-2 mt-2">
                    {{#review}}{{description}}{{/review}}
                  </p>
                  <div class="item F">
                    <p>Compró: {{#review}}{{#product}}{{name}}{{/product}}{{/review}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          {{/reviewsVm}}

          {{#showPaginationReview}}
            <nav aria-label="Navegación de páginas" class="d-flex justify-content-end">
                <ul class="pagination mt-4">
                <li class="page-item {{^hasPrevReview}}disabled{{/hasPrevReview}}">
                    <a class="page-link" href="/user_profile/{{id}}?pageReview={{prevPageReview}}&pageProduct={{currentPageProductZero}}&pageOrder={{currentPageOrderZero}}#reviews" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <span class="page-link">{{currentPageReview}} / {{totalPagesReview}}</span>
                </li>
                <li class="page-item {{^hasNextReview}}disabled{{/hasNextReview}}">
                    <a class="page-link" href="/user_profile/{{id}}?pageReview={{nextPageReview}}&pageProduct={{currentPageProductZero}}&pageOrder={{currentPageOrderZero}}#reviews" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>
            {{/showPaginationReview}}
          {{/emptyReviews}}
      </div>
    </div>

{{>footer}}





